arviz==0.7.0
cftime==1.1.2
cycler==0.10.0
Cython==0.29.16
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
netCDF4==1.5.3
numpy==1.18.3
packaging==20.3
pandas==1.0.3
pkg-resources==0.0.0
pyparsing==2.4.7
pystan==2.19.1.1
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
xarray==0.15.1
